// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

a{
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-size: cover;
  text-align: center;
}

.container {
  width: cover;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 70px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 40px;
  margin-bottom: 35px;
}








.logo {
  width: 124px;
  margin-top: 20px;
  color:white;
  font-size:20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right p {
  float: right;
}

.header-right a {
  padding:20px;
  color:white;
  font-size:20px;
}



.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.lesson-icon p {
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
}

.text-contents {
  margin: 3% auto;
  width: 80%;
  display: none;
  font-size: 12px;
  color: #b3aeb5;
}

.text-active {
  display: block;
}

/*faq wrapper*/
.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#faq-list {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/*アコーディオン追加 */
.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
}

.faq-list-item span {
  position:absolute;
  top:-3px;
  right:5px;
  color: #B3B3B3;
  font-size:16px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

.message-wrapper {
  padding: 80px 0 80px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.message-wrapper .heading h2 {
  font-weight: normal;
}




footer img {
  width: 125px;
}


footer {
  background-color:rgba(34,49,52,0.9);
  text-align: center;
}
