
.heading-left {
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading-left h3 {
  font-weight: normal;
}
.heading-right {
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading-right h3 {
  font-weight: normal;
}

.message-wrapper {
  padding: 80px 0 80px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.message-wrapper .heading h2 {
  font-weight: normal;
}




